body {
  margin: 0;
  padding: 0;
  background: linear-gradient(rgb(20, 40, 72), rgb(213, 181, 222));
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.dice-container {
  background: white;
  border-radius: 20px;
  padding: 30px 20px;
  margin: 30px 30px;
  width: 195px;
  max-width: 18%;
}

h1 {
  color: aliceblue;
  margin: 30px;
  margin-bottom: 10px;
  font-family: "Fascinate", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}
.side {
  display: flex;
  align-items: center;
}

.song-title {
  color: aliceblue;
  margin: 10px;
  font-size: 30px;
  font-family: "Niconne", cursive;
  font-weight: 400;
  font-style: normal;
}

#dice {
  width: 200px;
}
#rollBtn {
  border-radius: 10px;
  background: rgb(241, 190, 200);
  color: white;
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  margin-left: 75px;
}
